*{
    box-sizing: border-box;
    margin:0;
    border:0;
    font-size:62.5%;
    letter-spacing:.1rem;
    font-family: 'Overpass', sans-serif;
}

body{
    display: grid;
    place-items: center;
    min-height:100vh;
    background-color: hsl(0,0%,0%);  
}

.box{
    height: 45rem;
    width:43rem;
    border-radius: 5%;
    background-color: hsl(216, 12%, 8%);
    display: grid;
    gap:2rem;
    padding:3rem;
}

.circle{
    height: 5rem;
    aspect-ratio: 1;
    background-color:hsl(213, 19%, 18%);
    border-radius: 50%;
    font-size:1.8rem;
    color: hsl(216, 12%, 54%);
    font-weight: 700;
}

.ratings{
    display: grid;
    grid-template-columns: repeat(5,7rem);
}

.header{
    font-size: 3rem;
    font-weight: 700;
    color:hsl(0, 0%, 100%);
}
.paragraph{
    font-size: 1.5rem;
    font-weight: 400;
    color: hsl(217, 12%, 63%);
    font-weight: 400;
}

#submit{
    height: 5rem;
    width:100%;
    text-decoration: none;
    background-color:hsl(25, 97%, 53%);
    color:hsl(0, 0%, 100%);
    cursor:pointer;
    font-size: 2rem;
    border-radius: 5rem;
}

#box-2{
    place-items: center;
    text-align: center;
}
.hidden{
    display: none;
}
.user-rating{
    color:hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    padding: 0.5rem 1rem;
    border-radius: 5rem;
}
.ratings .circle:hover{
    background-color:hsl(217, 12%, 63%);
    cursor: pointer; 
    transition: 0.5s;
    color: hsl(0, 0%, 100%) !important;
}
.ratings .circle:focus{
    background-color:hsl(25, 97%, 53%);
    cursor: pointer; 
    color: hsl(0, 0%, 100%);
}

#submit:active{
    text-decoration: none;
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}
@media screen and (max-width:375px){
    #box-1,#box-2{
        max-width:90%;
        max-height: 60%;
        display: grid;
        align-items: center;
        overflow-x: hidden;
        padding: 2.2rem;
    }

    #submit{
       max-width:100%;
       align-items: center;
    }

    .header{
        font-size:1.85rem;
    }

    .paragraph{
        font-size: 1.15rem;
    }

    .circle{
        height:4.25rem;
        aspect-ratio: 1;
        font-size:1.3rem ;
    }

    .ratings{
        grid-template-columns: repeat(5,6rem);
    }

}

